WHISPER_DIR="$HOME/tech/dictation-on-ubuntu-mac/whisper.cpp"
WHISPER_MODEL="tiny"
WHISPER_THREADS="4"
RECORD_SECONDS="10"
TARGET_DELAY_SECONDS="2"
RECORDER="arecord"
SILENCE_MAX_DB="-45"
NOTIFY="1"
OUTPUT_MODE="type_current"
